{% extends "base.html" %}

{% load static %}

{% block title %}
  Error 500
{% endblock title %}

{% block content %}
  <br />
  <div class="text-center">
    <a href="{% url 'home:landing' %}" class="header__logo text-decoration-none">
      <span>FLEXWIRE</span>
    </a>
    <br />
    <img src="{% static 'images/404_page_image.jpg' %}"
         height="auto"
         width="25%"
         alt="sleeping cat"/>
    <br />
    <p class="header__logo text-decoration-none">500</p>
    <h1>Oops... Something went wrong. We are already trying to fix this problem, please wait.</h1>
  </div>
{% endblock content %}
