{% extends "base.html" %}

{% load static %}

{% block title %}
  FLEXWIRE
{% endblock title %}

{% block content %}
  <div class="d-flex align-items-center landing">
    <div class="container d-flex align-items-center min-vh-100 flex-xl-row flex-lg-row flex-column-reverse justify-content-end mt-md-4 mt-ms-4 ">
      <div class="w-100">
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-5">
              <h1 class="display-4 mb-3 fw-bold">
                Make your dream
                <br/>
                <span class="text-primary" id="live-text"></span>
              </h1>
              <p class="lead landing__text">
                Come up with an idea, find people, implement the project and get
                invaluable team
                development experience
              </p>
            </div>
            <div class="d-grid d-sm-flex gap-3">
              {% if user.is_authenticated %}
                <a href="{% url 'users:profile' user.pk %}" class="btn btn-primary btn-transition px-5">To profile</a>
              {% else %}
                <a href="{% url 'users:signup' %}" class="btn btn-primary btn-transition px-5">Sign up</a>
              {% endif %}
              <a href="#learn-more" class="btn btn-link text-decoration-none">
                Learn more
                <span class="ms-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right small" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-lg-block">
        <img src="{% static 'images/landing.png' %}"
             height="auto"
             width="100%"
             alt="team work"/>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/typed.js' %}"></script>
  <script src="{% static 'js/live_text.js' %}"></script>
{% endblock scripts %}
